cinematch_env
# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python virtual environment
venv/
env/
ENV/
.env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks
.ipynb_checkpoints

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/
data/rotten_tomatoes_movie_reviews.csv
data/rotten_tomatoes_movies.csv
